JWT_SECRET=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
DATABASE_URL=""
DIRECT_URL=""

ELEVENLABS_API_KEY=
CARTESIA_API_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_ORGANIZATION_SIP_URI=

TELNYX_API_KEY=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

KNOWLEDGE_BASE_BUCKET=
KNOWLEDGE_BASE_PREFIX=

BEDROCK_KNOWLEDGE_BASE_ID=
BEDROCK_DATA_SOURCE_ID=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

NEXT_PUBLIC_GOOGLE_API_KEY=