LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
NEXTJS_APP_URL=http://localhost:3000

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

CONVONENT_AWS_BUCKET=
EGRESS_RECORDINGS_S3_BUCKET_PREFIX=
